﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section id="about" class="pt pt-sm-60">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8 offset-md-2"></div>
                        <h2 class="m-0">
                            <span class="color-animations">Plan des animations</span><br />
                        </h2>
                        <h4>
                            <span class="text-original-case">Consultez ou télécharger le plan du festival et des animations en journée</span>
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-xs-60 pb pt-15">
            <div class="text-center map-responsive">
                <iframe src='../documents/plan_festival_animations_24h_INSA_2019.pdf' width="420" height="297"></iframe>
            </div>
            <div class="col-md-12 m-auto text-center">
                <a href="../documents/plan_festival_animations_24h_INSA_2019.pdf" class="btn btn-md btn-bleu-anim mb-1 mt-1">Télécharger le plan (PDF)</a>
                <a href="../documents/plan_festival_animations_24h_INSA_2019.png" class="btn btn-md btn-bleu-anim">Télécharger le plan (PNG)</a>
            </div>
        </section>

        <style>
            .map-responsive {
                overflow:hidden;
                padding-bottom:66.25%;
                position:relative;
                height:0;
                max-width: 90%;
                margin: auto;
            }
            .map-responsive iframe {
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
            }
        </style>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script type="text/javascript">
		$("#menu-animation").css('color', '#F11286');
		$("#sidebar-menu-plan").css('color', '#F11286');
		$("#title-page-nav").append("Plan");
    </script>
    
</body>
</html>
