﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section id="about" class="pt pt-sm-60 fond-nuit-back">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8 offset-md-2"></div>
                        <h2 class="m-0">
                            <span class="color-concerts">BILLETTERIE</span><br />
                        </h2>
                        <h4>
                            <span class="text-original-case"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <section class="fond-nuit-back">
            <div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="h4"></h5>
                        <div class="spacer-15"></div>
                        <p class="lead" style="color: greys"></p>
                    </div>
                </div>
            </div>
            <div class="row container text-center m-auto">
                <div class="container col-md-12 col-lg-12">
                    <a title="Billetterie Weezevent - 24h de l'INSA" href="https://www.weezevent.com/24hinsa" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=403386&lg_billetterie=1&code=64199&resize=1&width_auto=1&color_primary=0d003d" data-width="650" data-height="600" data-id="403386" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
                    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-8 col-12 m-auto pb-4 d-none"><img id="imgtarifs" src="/img/site/tarifs_billetterie_05.02_site.jpg"/></div>
                <div class="row text-center d-none">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4">&nbsp;</h3>
                        <div class="spacer-15"></div>
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <!--<div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h5 class="h4"></h5>
                        <div class="spacer-15"></div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>

            <section class="pb ptb-sm-80 fond-nuit-back">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 offset-md-3 jauge-billetterie" style="color: #ff31bc; !important;">
                            <div class="text-center"><h4 class="jauge-titre">Jauge billetterie</h4></div>
                            <div class="skillbar deuxs-jauge">
                                <div class="skillbar-title">Pass 2 soirs</div>
                                <div class="skill-bar-percent deuxs-jauge-label">0% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                            <div class="skillbar ven-jauge">
                                <div class="skillbar-title">Pass Vendredi</div>
                                <div class="skill-bar-percent ven-jauge-label">0% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                            <div class="skillbar sam-jauge">
                                <div class="skillbar-title">Pass Samedi</div>
                                <div class="skill-bar-percent sam-jauge-label">0% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-billetterie").css('color', '#F11286');
		$("#title-page-nav").append("Billetterie");
		$("#sidebar-menu-billetterie").css('color', '#F11286');
    </script>
    <script type="text/javascript">
		$.ajax({
			url: "/billetterie/stats",
			context: document.body,
			complete: function(xhr, status, errorThrown){
				if(xhr.status == 200){
					var ven = JSON.parse(xhr.responseText).vendredi;
					var sam = JSON.parse(xhr.responseText).samedi;
					var deuxs = JSON.parse(xhr.responseText).deuxsoirs;
					var dm = JSON.parse(xhr.responseText).derniereminute;
					$('.derniereminute-jauge-label').text('ATTEINT '+ dm+'%');
					$('.ven-jauge-label').text('ATTEINT '+ ven+'%');
					$('.sam-jauge-label').text('ATTEINT '+ sam+'%');
					$('.deuxs-jauge-label').text('ATTEINT '+ deuxs+'%');
					$('.derniereminute-jauge').attr('data-percent', dm+'%');
					$('.ven-jauge').attr('data-percent', ven+'%');
					$('.sam-jauge').attr('data-percent', sam+'%');
					$('.deuxs-jauge').attr('data-percent', deuxs+'%');
				}else{
					$(".jauge-billetterie").remove();
				}
				skillsProgressBar();
				function skillsProgressBar() {
					$('.skillbar').each(function () {
						$(this).find('.skillbar-bar').animate({
							width: $(this).attr('data-percent')
						}, 2000);
					});
				};
			}
		});
    </script>

</body>
</html>
