﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-caritatives.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">COURSES CARITATIVES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Une performance sportive doublée d’une volonté de faire avancer la recherche médicale ?<br>
                                Retrouvez toutes les infos de la course carritative de l'édition 2019 passée.</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h5 class="text-center">Que soutenons-nous ensemble ?</h5>
                        <p>Durant cet événement, nous soutenons la Fondation pour la Recherche Médicale (FRM) dans le but de faire avancer la recherche sur les maladies pédiatriques et l’épilepsie.
                            Les dons collectés grâce à votre générosité serviront à financer les travaux les plus prometteurs, rigoureusement sélectionnés par le Conseil scientifique de la FRM.
                        </p>
                        <h5 class="text-center pt-2">La Fondation pour la Recherche Médicale ? Qui est-elle ?</h5>
                        <p>Créée en 1947, la FRM est le plus important organisme caritatif à soutenir la recherche médicale en France dans son ensemble. Elle intervient sur toutes les maladies : cancers, maladies neurologiques, maladies cardiovasculaires, maladies infectieuses…<br><br>
                            Totalement indépendante, elle soutient chaque année plus de 400 nouvelles recherches grâce à la générosité de ses donateurs, testateurs et partenaires. Reconnue d’utilité publique, elle est labellisée par le Don en confiance.<br><br>
                            Consultez leur site sur <a href="https://www.frm.org" target="_blank">https://www.frm.org</a>.
                        </p>
                    </div>
                    <div class="col-md-6 text-justify m-auto" style="max-width:400px;">
                        <img alt="1" style="object-fit: cover" src="../img/site/course_caritative_remise_prix.jpg" class="item-container">
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-2">
            <div class="container">
                <div class="row">
                        <div class="col-md-2 text-justify m-auto pb-3">
                        <img alt="1" style="object-fit: cover" src="../img/partenaires/logo_FRM_couleur_sf.png" class="item-container">
                    </div>
                    <div class="col-md-10 text-justify">
                        <h5 class="text-center">Comment agir ?</h5>
                        <p>Plusieurs possibilités s’offrait à vous pour participer à votre échelle !<br>
                            Vous pouviez faire un don directement via le site de la FRM <a href="https://don.frm.org/24h-insa">https://don.frm.org/24h-insa</a>, ou bien faire un don lors de votre inscription.<br>
                                Dans ce second cas, le Club des 24h de l’INSA récoltait les dons. A la fin de l’événement a eu lieu une cérémonie pour la remise des dons à la Fondation pour la Recherche Médicale. Plus de 1500€ ont été récoltés !
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="spacer-30"></div>
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_FRM_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_isosteo_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_weleda_nb_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_megazone_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_aquarium_de_lyon_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-courses").css('color', '#F11286');
		$("#sidebar-menu-caritative").css('color', '#F11286');
        $("#title-page-nav").append("Course Caritative");
    </script>


    
</body>
</html>
