<meta charset="utf-8" />
<title>Festival 24h de l'INSA</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="nileforest">
<meta name="theme-color" content="#0e003d">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<!-- Favicone Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/img/logos/logo_24h_generique_couleur_cut_50px.ico">
<link rel="icon" type="image/png" href="/img/logos/logo_24h_generique_couleur_cut_50px.png">
<link rel="apple-touch-icon" href="/img/logos/logo_24h_generique_couleur_cut_50px.png">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/ionicons.css" rel="stylesheet" type="text/css" />
<link href="/css/plugin/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="/css/24h.style.css" rel="stylesheet" type="text/css" />

<script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116303927-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-116303927-1');
</script>
