html{
    font-family: 'arial', sans-serif;
}

.container-filter li a.active {
    color: #4DBCD1;
}

.h1-titre{
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

.footerlien, .footer{
    color: #EEEEEE;
}

.bg-image {
    background-repeat: repeat;
    background-size: auto;
}

.skillbar-title, .skill-bar-percent {
    color: #f11286;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.header.header-transparent .header-nav {
    background-color: #0e003d !important;
    #background-color: #060025 !important; /*Desktop "header-transparent" */
}

.fond-nuit-back{
    background-color: #0e003d;
}

.fond-jour-back{
    background-color: #6DC6C4;
}

.jauge-titre{
    color: #6DC6C4;
}

.color-animations-jour2 {
    color: #F7F730;
}

.header .nav-menu > ul > li > a,
.header.fixed .nav-menu > ul > li > a,
.header.header-transparent.fixed .nav-menu > ul > li > a,
.header.header-transparent.header--dark .nav-menu > ul > li > a,
.header.header--dark.header-transparent .nav-menu > ul > li > a,
.header .nav-icons > *,
.header.fixed .nav-icons > *,
.header.header-transparent.fixed .nav-icons > *,
.header.header-transparent.header--dark .nav-icons > *,
.header.header--dark.header-transparent .nav-icons > * {
    color: rgb(255, 255, 255);
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.header .nav-menu > ul > li > a:hover,
.header.fixed .nav-menu > ul > li > a:hover,
.header.header-transparent.fixed .nav-menu > ul > li > a:hover,
.header.header-transparent.header--dark .nav-menu > ul > li > a:hover,
.header.header--dark.header-transparent .nav-menu > ul > li > a:hover,
.header .nav-icons > *:hover,
.header.fixed .nav-icons > *:hover,
.header.header-transparent.fixed .nav-icons > *:hover,
.header.header-transparent.header--dark .nav-icons > *:hover,
.header.header--dark.header-transparent .nav-icons > *:hover {
    color: #4DBCD1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.header .nav-menu > ul > li > a::after,
.header.fixed .nav-menu > ul > li > a::after,
.header.header-transparent.fixed .nav-menu > ul > li > a::after,
.header.header-transparent.header--dark .nav-menu > ul > li > a::after,
.header.header--dark.header-transparent .nav-menu > ul > li > a::after,
.header .nav-menu > ul > li:hover > a::after,
.header.fixed .nav-menu > ul > li:hover > a::after,
.header.header-transparent.fixed .nav-menu > ul > li:hover > a::after,
.header.header-transparent.header--dark .nav-menu > ul > li:hover > a::after,
.header.header--dark.header-transparent .nav-menu > ul > li:hover > a::after {
    color: rgba(255, 255, 255, 0.5);
}

.header .nav-menu > ul > li:hover > a,
.header.fixed .nav-menu > ul > li:hover > a,
.header.header-transparent.fixed .nav-menu > ul > li:hover > a,
.header.header-transparent.header--dark .nav-menu > ul > li:hover > a,
.header.header--dark.header-transparent .nav-menu > ul > li:hover > a,
.header .nav-icons > *:hover,
.header.fixed .nav-icons > *:hover,
.header.header-transparent.fixed .nav-icons > *:hover,
.header.header-transparent.header--dark .nav-icons > *:hover,
.header.header--dark.header-transparent .nav-icons > *:hover {
    color: #4DBCD1;
}

.nav-dropdown, .nav-dropdown-sub {
    background-color: #0e003d;
    #background-color: #060023;
}

.sidebar-menu {
    background-color: #0e003d;
    #background-color: #060023;
}

.parallax-background4 {
    background-size: cover;
    background-position: center;
    max-height: 600px;
}

.parallax-background5 {
    background-size: cover;
    background-position: center;
    max-height: 800px;
}

@media all and (min-width: 1px) and (max-width: 600px) {

    .inner-intro {
        position: relative;
        padding: 50px 0;
        height: 400px;
    }

    .parallax-background3 {
        background-size: auto 480px;
        background-position: center;
    }

    .parallax-background4 {
        background-size: auto 480px;
        background-position: center;
    }

}

@media all and (min-width: 600px) and (max-width: 768px) {

    .inner-intro {
        position: relative;
        padding: 50px 0;
        height: 600px;
    }

    .h1-titre{
        letter-spacing: 0px;
    }

}

@media all and (min-width: 768px) and (max-width: 4000px) {

    .inner-intro {
        position: relative;
        padding: 100px 0;
        height: 800px;
    }

    .h1-titre{
        letter-spacing: 10px;
    }

}

.soldouttext{
    font-size: 17px;
}

a:hover {
    color: #f11286;
}

.accordion-title:before {
    content: '›';
}

.accordion-title.active:before {
    content: "⌵";
}

.logo a{
    width: 170px;
}

.fb-header{
    color: #FFF;
}

.sidebar-menu ul > li > a:hover {
    color: #4DBCD1;
}

.fb-header:hover{
    color: #4dbcd1;
}

.photo-concerts-artiste-item{
    height: 300px;
}

.nf-item{
    padding-bottom: 2px;
}

.btn-bleu-anim {
    color: #fff;
    background: #41c5e5;
    border: none;
}

.btn-rouge-concerts{
    color: #fff;
    background: #ed1d45;
    border: none;
}

.color-gris-1{
    color: #EEEEEE;
}

.color-gris-4{
    color: #999999;
}

@media (min-width: 768px){
    .logo-partenaire-item{
        height: 150px;
    }
}

@media (max-width: 767px){
    .photo-concerts-artiste-item{
        height: 200px;
    }

    .logo-partenaire-item{
        height: 150px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .titre-concerts-artiste-item{
        font-size: 18px;
        line-height: 15px;
        padding: 4px 0px 2px 0px;
    }

    .logo-partenaire-item{
        height: 100px;
    }

    .sous-titre-date-concerts-artiste-item, .sous-titre-style-concerts-artiste-item{
        font-size: 11px;
    }

    .nf-col-2 .nf-item, .nf-col-3 .nf-item, .nf-col-4 .nf-item,
    .nf-col-1 .nf-item.w2, .nf-col-2 .nf-item.w2, .nf-col-3 .nf-item.w2, .nf-col-4 .nf-item.w2,
    .nf-col-1 .nf-item.w3, .nf-col-2 .nf-item.w3, .nf-col-3 .nf-item.w3, .nf-col-4 .nf-item.w3,
    nf-col-1 .nf-item.w4, .nf-col-2 .nf-item.w4, .nf-col-3 .nf-item.w4, .nf-col-4 .nf-item.w4,
    .nf-col-1 .nf-item.w4-1, .nf-col-2 .nf-item.w4-1, .nf-col-3 .nf-item.w4-1, .nf-col-4 .nf-item.w4-1,
    .nf-col-1 .nf-item.w3-1, .nf-col-2 .nf-item.w3-1, .nf-col-3 .nf-item.w3-1, .nf-col-4 .nf-item.w3-1 {
        width: 50%;
    }

    .nf-col-5 .nf-item, .nf-col-6 .nf-item {
        width: 33.3333%;
    }

    .nf-row2 .nf-item.spacing, .nf-row2 .grid-sizer.spacing {
        padding: 25px;
    }

    .container {
        margin: 0 auto;
        max-width: 700px;
        width: 100%;
    }

    .nf-col-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .spacing-grid {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nf-col-3, .nf-col-4 {
        margin: 0 auto;
        max-width: 700px;
    }
}

@media (max-width: 480px){
    .nf-col-5 .nf-item, .nf-col-6 .nf-item {
        width: 33.3333%;
    }

    .nf-row2 .nf-item.spacing, .nf-row2 .grid-sizer.spacing {
        padding: 25px;
    }

    .container {
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }

    .nf-col-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .spacing-grid {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nf-col-3, .nf-col-4 {
        margin: 0 auto;
        max-width: 300px;
    }
}

.skillbar-bar {
    height: 6px;
    width: 0px;
    background: #4DBCD1;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-bar-1 {
    height: 6px;
    width: 0px;
    background: #f11286;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-bar-2 {
    height: 6px;
    width: 0px;
    background: #f11286;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.accordion-title.active {
    /* background: #fafafa; */
    color: #4dbcd1;
}

body{
    font-family: Roboto, sans-serif;
}